@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body{
  font-family: 'Source Sans Pro' !important; 
  
}

.App {
  text-align: center;
  background-color: #28a789;
 
}

.card {
  position: relative;
  width: 30% !important;
  margin-top: 40%;
  margin-bottom: 0%;
}

.center-div {
  top: 0;
  bottom: 0;
  background-color:  #28a789;
}

.nav-bar {
  background: #f3e43e;
  height: 40px;
  border-bottom: 0.9px solid #d5e6ea;
  position: relative;

}

.left-sidebar {
  float: left;
  width: 20%;
  position: absolute;
  bottom: 0;
  top: 0;
   border-left: 0.5px solid gray;
  background-color:  #28a789;
  background-image: url("./img.jpg");
}

.right-sidebar {
  right: right;
  width: 20%;
  position: absolute;
  bottom: 0;
  top: 40px;
  /* border-left: 0.5px solid gray; */
  background: #28a789;
  position:absolute;
  text-align: center;
  margin-right: 20%;
  width: 100%;
}

#main-content {
  position:fixed;
  text-align: center;
  left: 5%;
  margin-right: 0%;
  width: 65%;
  top: 40px;
  bottom: 0;
  
}

#login-form {
  margin-top: 10%;
  width: 50%;
  margin-left: 40%;
  background: #f3e43e;
  position:absolute;
}

#sign-up-form {
  margin-top: 10%;
  position:absolute;
  width: 60%;
  margin-left: 40%;
  background: #f3e43e;
}



.single-nav-link {
  float:left;
  margin-top: 0.5%;
  margin-right: 3%;
  
}

.foo {
  text-align: left;
  margin-right: 23%;
  width:40%;
}

#convo-form {
  width: 50%;
  margin-right: 25%;
}



.home-login-error {
  margin-top: 25%;
  margin-left: 40%;
}

.selected-convo {
  position: fixed;
  bottom: 0px;
  width: 60%;
}

.message{
  text-align: right;
}

.asdf {
  display: inline-flex;
}

#message-form {
  float: right;
  margin-top: 50%;
  margin-right: 25%;
  z-index: 5;
}

